<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="course" class="com.cts.app.Course">
        <property name="courseName" value="Spring Framework Basics"/>
    </bean>

    <bean id="student" class="com.cts.app.Student">
        <property name="id" value="201"/>
        <property name="name" value="Raja Kumar"/>
        <property name="course" ref="course"/>
    </bean>

</beans>
